body{
    width:80%;
    margin: auto;
    
}
.header{
    margin: auto;
    overflow: hidden;
    text-align: center;
    max-width: 70%;
    background-color: greenyellow;
}
.wrap, footer {
    margin: auto;
    overflow: hidden;
    max-width: 70%;
    
}
.wrap{
    background-color: yellow;
    line-height: 25px;
}

footer{
	color: black;
	background-color: orange;
    text-align:center;
}
footer h1{
    font-size: 16px;
}
footer h3{
    font-size: 14px;
}
.wrap #form{
    margin-left: 40px;
}
.kotak{
    width: :200px;
}