html, body{
  background-color:rgb(156, 29, 29);
  font-family: 'Montserrat', sans-serif;
}

/*Top Page*/
header {
  width: 100%;
  top: 0;
  margin: 0 auto;
  position: fixed;
  z-index: 2;
  text-align: center;
}
.navigation {
  overflow: hidden;
  background-color: rgb(151, 36, 36);	;
}
/* .navigation .logo {
  overflow: hidden;
  background-color: #e9e9e9;
  width: 250px;
  height: 150x;
  /* display: inline; */
  /* margin-bottom: -25px;
} */ 
nav  {
  display: inline;
  text-align: center;
  /* margin-left: 20px; */
  padding-right: 2rem;
}
nav a {
  text-align: center;
  margin-top: 13px;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  color:white;
  float: left;
  display: block;
}
nav a:hover {
  background-color: black;
  color: white;
}
nav a.active {
  background-color: #2196f3;
  color: white
}
.login-container img{
  /* display: inline; */
  padding-right:40px;
  padding-bottom: 17px;
  float: right;
  width: 80px;
  height:30px;
}
/* .navigation a{
  text-decoration: none;
  color: white;
} */
/* .login-container a:hover{
  background-color: white;
  color: black;
  margin-top: 50px;
} */

.navigation input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 200px; /* adjust as needed (as long as it doesn't break the topnav) */
}
.navigation .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;

}
.navigation .login-container button:hover {
  background: #ccc;
}

.centered {
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.Opening2{
  position: relative;
  text-align: center;
  background-color: rgba(82, 86, 87, 0.7);
  top:0;
  
}
.Opening1 {
  bottom:0;
  position: relative;
  text-align: center;
}
.Opening1 img {
  position: relative;
  height: 100%;
  width: 100%;

}
.Opening1 h1{
  top: 45%;
  left: 50%;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 60%);
  color: white;
  font-weight: bold;

}


/*Footer*/
p {
  color: white;
  /* padding-bottom: 5px; */
  /* margin:auto; */
  margin: 0 auto;
  margin-left: 5px
}
.container 

