/* DEFAULT--START */
html {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}
header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
}
.navigation {
  overflow: hidden;
  background-color: rgb(151, 36, 36);
  width: 100%;
}

nav {
  display: inline;
  text-align: center;
  padding-right: 2rem;
}
nav a {
  text-align: center;
  margin-top: 13px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 17px;
  color: black;
  float: left;
  display: block;
}
nav a:hover {
  background-color: black;
  color: white;
}
.logo img {
  padding-right: 40px;
  padding-bottom: 17px;
  float: right;
  width: 80px;
  height: 30px;
}
/* DEFAULT--END */

/*HOME--START*/
.centered {
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.Opening2 {
  position: relative;
  text-align: center;
  background-color: rgba(82, 86, 87, 0.7);
  top: 0;
}
.Opening1 {
  bottom: 0;
  position: relative;
  text-align: center;
}
.Opening1 img {
  top: 20px;
  position: relative;
  height: 100%;
  width: 100%;
}
.Opening1 h1 {
  top: 45%;
  left: 50%;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 60%);
  color: white;
  font-weight: bold;
}
/* HOME--END */

/* CONTACT--START */
.row {
  width: 100%;
}
.row #column {
  width: 50%;
  float: left;
}
.column2 {
  float: right;
  width: 40%;
}
input[type="text"],
select,
textarea {
  width: 60%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
input[type="email"] {
  width: 60%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
/* CONTACT--END */

/*FOOTER*/
footer {
  top: 0px;
  clear: left;
  background-color: rgb(151, 36, 36);
  height: 25px;
}
footer p {
  color: black;
  padding-top: 2px;
  text-align: center;
}
