html, body{
  background-color:black;
  font-family: 'Montserrat', sans-serif;
}

/*Top Page*/
header {
  width: 100%;
  top: 0;
  margin: 0 auto;
  position: fixed;
  z-index: 2;
  text-align: center;
}
.navigation {
  overflow: hidden;
  background-color: black;
}
/* .navigation .logo {
  overflow: hidden;
  background-color: #e9e9e9;
  width: 250px;
  height: 150x;
  /* display: inline; */
  /* margin-bottom: -25px;
} */ 
nav  {
  display: inline;
  text-align: center;
  /* margin-left: 20px; */
  padding-right: 2rem;
}
nav a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color:white;
  float: left;
  display: block;
}
nav li a:hover {
  background-color: #ddd;
  color: white;
}
nav li a.active {
  background-color: #2196f3;
  color: white;
}
.navigation .login-container {
  float: right;
}
.navigation input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}
.navigation .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.navigation .login-container button:hover {
  background: #ccc;
}

.centered {
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.Opening2{
  position: relative;
  text-align: center;
  background-color: rgba(82, 86, 87, 0.7);
  top:0;
  
}
.Opening1 {
  bottom:0;
  position: relative;
  text-align: center;
}
.Opening1 img {
  position: relative;
  height: 100%;
  width: 100%;

}
.Opening1 h1{
  top: 45%;
  left: 50%;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 60%);
  color: white;
  font-weight: bold;

}

/*Content*/
table {
  width: 80%;
  max-width: 90%;
  border-spacing: 0.5rem;
  border-collapse: collapse;
  text-align: center;
  background-color: rgb(9, 190, 245, 50%);
  margin-left: 10%;
}
th,
td {
  padding: 15px;
  text-align: center;
  font-size: 15px;
  border-bottom: 1px solid grey;
  letter-spacing: 0.8px;
}
th {
  height: 20px;
  font-weight: 500;
  background-color: hsl(241, 43%, 46%);
}

tr:hover {
  background-color: white;
}

/*Footer*/
p {
  font-weight: bold;
  color: white;
  /* padding-bottom: 5px; */
  /* margin:auto; */
  margin: 0 auto;
  margin-left: 20px
}

