/*TABLE--START*/
table {
    border-spacing: 0.5rem;
    border-collapse: collapse;
    text-align: center;
    background-color: white;
    font-family: "Montserrat", sans-serif;

  }
  th,
  td {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid black;
    letter-spacing: 0.8px;
  }
  th {
    font-weight: 500;
    background-color: rgb(151, 36, 36);
    color: white;
  }
  
  tr:hover {
    background-color: rgb(151, 36, 36);
    color: white;

  }
  .table1{
    margin-left: 20%;
    float: left;
    width: 40%;
  }
  .table2{
    width: 30%;
  }
 /* TABLE--END */